<div class="card w-full border-2 border-gray-400 rounded-2xl p-4">
  <div class="flex gap-2 mb-4">
    <span><i class="fa-solid fa-arrow-rotate-left"></i></span>
    <span>Borrow Cycle Tracker</span>
  </div>
  @for (borrowed of allBorrowedList; track $index) {
  <div class="m-4 py-2">
    <div class="flex justify-between items-baseline mb-2">
      <div class="book-detail flex flex-col">
        <span>{{ getBookNameById(borrowed.bookId) }}</span>
        <span class="text-gray-400">{{
          getBookAuthorById(borrowed.bookId)
        }}</span>
      </div>
      <div
        class="due text-xs px-2 rounded-md border border-gray-500 flex gap-1"
      >
        <span class="text-yellow-500">
          <i class="fa-regular fa-clock"></i>
        </span>
        <span class="font-semibold">due soon</span>
      </div>
    </div>
    <div>
      <div class="date flex justify-between *:text-gray-500">
        <span>Borrowed: {{ borrowed.borrowedDate | date : "MMM d,yyy" }}</span>
        <span>Due: {{ borrowed.returnedDate | date : "MMM d,yyy" }}</span>
      </div>
      <div class="progess-bar1 w-full">
        <div
          class="w-full h-2 rounded-full overflow-hidden"
          [ngClass]="getBg(borrowed.borrowedId)"
        >
          <div
            class="h-full"
            [ngClass]="getBarColor()"
            [style.width.%]="getProgressDate(borrowed.borrowedId)"
          ></div>
        </div>
      </div>
      <div class="tags">
        <ul class="space-y-2 flex gap-2 *:text-xs">
          <li
            class="relative pl-3 before:content-[''] before:w-2 before:h-2 before:bg-red-500 before:rounded-full before:absolute before:left-0 before:top-1"
          >
            Request
          </li>

          <li
            class="relative pl-3 before:content-[''] before:w-2 before:h-2 before:bg-green-500 before:rounded-full before:absolute before:left-0 before:top-1"
          >
            Borrowed
          </li>

          <li
            class="relative pl-3 before:content-[''] before:w-2 before:h-2 before:bg-blue-500 before:rounded-full before:absolute before:left-0 before:top-1"
          >
            Due Soon
          </li>

          <li
            class="relative pl-3 before:content-[''] before:w-2 before:h-2 before:bg-yellow-500 before:rounded-full before:absolute before:left-0 before:top-1"
          >
            Returned
          </li>
        </ul>
      </div>
      <div class="button py-2" >
        <div class="btn float-end space-x-2 *:cursor-pointer" *ngIf="borrowed && borrowed.status==='BORROWED' && borrowed.remainingReturnDate!=='Expired'">
          <button class="px-2 py-1 rounded-md border border-gray-500 text-sm hover:bg-black hover:text-white active:scale-90" (click)="onExtended(borrowed.borrowedId)">Extend</button>
          <button class="px-2 py-1 rounded-md border border-gray-500 text-sm hover:bg-black hover:text-white active:scale-90" (click)="onReturn(borrowed.userId,borrowed.bookId)">Return</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  }
</div>
