<div class="max-w-sm mx-auto p-5 border rounded-lg shadow space-y-4">

  <!-- ================= EMAIL STEP ================= -->
  <ng-container *ngIf="step === 'EMAIL'">

    <h2 class="text-xl font-semibold text-center">
      Forgot / Change Password
    </h2>

    <form [formGroup]="emailForm" (ngSubmit)="sendOtp()" class="space-y-3">

      <input
        pInputText
        type="email"
        formControlName="email"
        placeholder="Enter your email"
        class="w-full"
      />

      <button
        pButton
        label="Send OTP"
        class="w-full"
        [disabled]="emailForm.invalid">
      </button>

    </form>

  </ng-container>

  <!-- ================= OTP STEP ================= -->
  <ng-container *ngIf="step === 'OTP'">

    <h2 class="text-xl font-semibold text-center">Verify OTP</h2>

    <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()" class="space-y-3">

      <p-inputOtp
        formControlName="otp"
        [length]="6" 
        >
      </p-inputOtp>

      <p class="text-sm text-gray-500 text-center">
        OTP expires in
        <span class="font-bold text-red-500">
          {{ countdown }}s
        </span>
      </p>

      <button
        pButton
        label="Verify OTP"
        class="w-full"
        [disabled]="otpForm.invalid || countdown === 0">
      </button>

    </form>

    <button
      pButton
      label="Resend OTP"
      class="p-button-text w-full"
      [disabled]="countdown > 0"
      (click)="resendOtp()">
    </button>

  </ng-container>

  <!-- ================= RESET STEP ================= -->
  <ng-container *ngIf="step === 'RESET'">

    <h2 class="text-xl font-semibold text-center">Set New Password</h2>

    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="space-y-3">

      <input
        pInputText
        type="password"
        formControlName="newPassword"
        placeholder="New password"
        class="w-full"
      />

      <button
        pButton
        label="Update Password"
        class="w-full"
        [disabled]="passwordForm.invalid">
      </button>

    </form>

  </ng-container>

</div>
