<div class="borrowed_book">
   <p-table [value]="listOfBorrowedBook"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ 'min-width': '50rem' }" [loading]="false">
    <ng-template #header>
        <tr>
            <th style="width:8%">Borrowed_Id</th>
             <th style="width:15%;">Borrowed_User_Name</th>
             <th style="width:15%;">Borrowed_Book</th>
            <th style="width:17%">Borrowed_Date</th>
            <th style="width:17%">Returning_Date</th>
            <th style="width:12%">Remaining_Time</th>
            <th style="width:17%">Status</th>
           
        </tr>
    </ng-template>
    <ng-template #body let-borrowed>
        <tr>
            <td>{{ borrowed.borrowedId }}</td>
            <td>
                {{getUserName(borrowed.userId)}}
            </td>
            <td>
                {{getListOfBookName(borrowed.bookId)}}
            </td>
            <td>{{ borrowed.borrowedDate }}</td>
            <td>
               
                    {{borrowed.returnedDate}}
            </td>
            <td>
                @if (borrowed.remainingReturnDate!=='' || borrowed.remainingReturnDate.includes('-')) {
                    {{borrowed.remainingReturnDate}}
                }@else {
                    <span>------</span>
                }
            </td>
            <td>{{borrowed.status}}</td>
        </tr>
    </ng-template>
</p-table>
</div>