<div class="content">
    <div class=" border-1 grid grid-rows-2 border-gray-200 rounded-2xl p-2 hover:shadow-xl hover:shadow-gray-300">
        <div class="content1-image w-full">
            <div class=" h-[200px] p-2">
                <img src="libr.jpg" alt="alt" class="object-cover w-full  h-full rounded-2xl bg-gray-600 ">
            </div>
        </div>
        <div class="content overflow-auto flex flex-col gap-2">
            <div class="book-title">
                <span class=" text-black">The Midnight Library</span>
            </div>
            <div class="book_author">
                <span class="text-gray-400 text-sm">
                    Matt Haig
                </span>
            </div>
            <div class="flex gap-1">
                <span class="text-yellow-400">
                    <i class="fa-solid fa-star"></i>
                </span>
                <span>4</span>
                <span>(123)</span>
            </div>
            <div class="btn-part mt-2">
                <span class="border-1 border-gray-200 rounded-xl px-1.5 py-0.5 text-sm font-semibold">Borrowed</span>
            </div>
        </div>
    </div>
</div>