<div class=" bg-white z-10">
    <div class="main-containt py-4 flex align-middle">
        <div class="w-full main-side flex justify-between px-10">
            <div class="left-side flex gap-1">
                <span class="mt-2"><i class="fa-solid fa-book-open text-blue-600 text-3xl"></i></span>
                <div class="flex flex-col">
                    <span class="text-blue-600">Meet Book Cycle</span>
                    <span class="text-gray-500 text-sm">Sustainable Reading</span>
                </div>
            </div>
            <div class="middle">
               <div class="ai-model px-4 rounded-2xl bg-blue-100 active:bg-blue-200 active:scale-95 cursor-pointer" (click)="showChat()">
                 <i class="fa-solid fa-magnifying-glass"></i>
                 <span class="ml-2">AI Mode</span>
               </div>
            </div>
            <div class="right-side flex align-bottom ">
                <ul class="flex gap-2">
                    <li class="pt-2" (click)="onShowNotification()">
                        <div class="relative">
                            <div class="py-1 px-2 rounded-xl hover:bg-gray-400/30"> <i class="fa-regular fa-bell"></i>
                            </div>
                            <span class="rounded-full -top-1 -right-1 absolute  bg-red-500 size-5  text-center text-white" *ngIf="unreadCount()>0">
                                @if(unreadCount()>10){
                                   <p class="text-sm">9<sup>+</sup></p>
                                }@else {
                                    {{unreadCount()}}
                                }
                            </span>
                        </div>
                    </li>
                    <li class="hover:bg-gray-400/40 rounded-2xl px-4" (click)="menu.toggle($event)" >
                        <div class="flex gap-2">
                            <span class="pt-2 text-xl">
                                <i class="fa-regular fa-user"></i>
                            </span>

                            <div class="flex flex-col">
                                <span>{{userData.name | capitalization}}</span>
                                <span class="text-xs text-gray-400">{{userData.email}}</span>
                            </div>


                        </div>

                    </li>
                </ul>
            </div>
        </div>

    </div>
    <p-divider></p-divider>
</div>

<div>
    <app-notification #notify></app-notification>
</div>


<div class="card flex justify-center">
    <p-menu #menu [model]="items" [popup]="true" />
</div>

<div class="pop-menu z-99">
    <app-chat-ai #chat></app-chat-ai>
</div>
