spring:
  datasource:
    url: jdbc:mysql://localhost:3600/lbm
    username: root
    password: Lumad
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mail:
    host: smtp.gmail.com
    username: meetyadav78692@gmail.com
    password: czmceudwraxyqxbp
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
            trust: "*"
          starttls:
            enable: true
    protocol: smtp
server:
  port: 8080
logging:
  level:
    org.springframework.security: DEBUG

